<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course


# Data science tools and ecosystem


IN THIS NOTEBOOK , DATA SCIENCE TOOLS AND ECOSYSTEM ARE SUMMARISED.

SOME OF THE COMMONLY USED LANGUAGES ARE:
1. Python
2. Java 
3. R
4. Julia

some of the commonly used libraries are:
1. Pandas
2. Numbpy
3. Matplotlib


|DATA SCIENCE TOOL|
|-----------------|
|HADOOP|
|R STUDIO|
|ANACONDA NAVIGATOR|
|JUPYTER|

EXAMPLE OF ARITHMATIC EXPRESSION:
3

In [ ]:
#Addition operation
2+3

In [ ]:
#Multiplication operation
5*6

In [ ]:
#arithematic operation
# this will convert 200 minutes into hours
200 minutes into hours


objectives:
+ languages such as python
+ tools for data science such as hadoop

## AUTHOR NAME
AASTHA TYAGI